/* MAIN SIDEBAR */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f172a;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

/* LOGO */
.sidebar-logo {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #1e293b;
}

.sidebar-logo h2 {
  font-size: 18px;
  margin: 0;
}

.role-text {
  font-size: 12px;
  color: #94a3b8;
}

/* MENU */
.sidebar-menu {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* BUTTON STYLE */
.menu-btn {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.menu-btn:hover {
  background: #1e293b;
  transform: translateX(5px);
}

/* FOOTER */
.sidebar-footer {
  padding: 15px;
  border-top: 1px solid #1e293b;
}

/* LOGOUT */
.logout-btn {
  width: 100%;
  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}